/**/
#info {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.info-box-one
/**/ {
  background: white;
  color: #333;
  text-align: center;
  padding: 20px;
}

.card.h-100.one {
  background: white;
  border: none;
}
/**/
.card.h-100 {
  background: #333;
  border: none;
}
/**/

#ojas {
  width: 100%;
}


.container-info {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #fff;
  color: #202020;
}

.box-info {
  max-width: 400px;
  width: 100%;
  margin-right: 10px;
  margin: 10px;
  text-align: center;
}

.box-info.2{
  width:300px;
  height: 100px;
}
.box-info h2 {
  font-size: 20px;
  margin: auto;
}

@media screen and (max-width: 1100px) {
  .container-info {
    flex-wrap: wrap;
  }

  @media screen and(min-width:400px) {
    .container-info {
      display: block;
    }
  }