/**/

.info-box-one
/**/ {
  background: white;
  color: #333;
  text-align: center;
  padding: 20px;
}

.card.h-100.one {
  background: white;
  border: none;
}
/**/
.card.h-100 {
  background: #333;
  border: none;
}
/**/

#ojas {
  width: 100%;
}
